---
export interface Props {
  img: string;
  nome: string;
  ruolo: string;
  descrizione: string;
}

const { img, nome, ruolo, descrizione } = Astro.props;
---

<div class='flex flex-col items-center gap-2'>
  <img class='rounded-mara' src={img} alt={nome} />
  <p class='font-ibmplex-b'>{nome}</p>
  <p class='text-red-700 font-ibmplex-m'>{ruolo}</p>
  <p>{descrizione}</p>
</div>
