---
export interface Props {
  img?: string;
  title: string;
  subtitle: string;
  prezzoOriginale: string;
  prezzoScontato: string;
}

const { img, title, subtitle, prezzoOriginale, prezzoScontato } = Astro.props;

const url = `/contatti?prod=${encodeURIComponent(title)}#contact-form-sito`;
---

<a href={url} class='block h-full w-fit mx-auto'>
  <!-- Added w-fit and mx-auto -->
  <div
    class='bg-white rounded-mara w-[16rem] lg:w-[18rem] xl:w-[20rem] h-full flex flex-col'
  >
    <!-- Added flex flex-col -->
    <div
      class='rounded-mara pt-[70%] pb-[10%] xl:pt-[60%] h-8 px-8 bg-size-[140%] bg-center hover:bg-size-[130%] transition-[background-size] ease'
      style=`background-image: url('/images/${img}');`
    >
    </div>
    <div class='text-black mt-4 pb-8 px-8 space-y-2 flex-grow'>
      <!-- Added flex-grow -->
      <p class='font-ibmplex-m'>{title}</p>
      <p>{subtitle}</p>
      <div class='flex gap-4 items-center'>
        <p class='font-ibmplex-b'>{prezzoScontato}€</p>
        <p class='font-ibmplex-l line-through text-gray-800 text-sm'>
          {prezzoOriginale}€
        </p>
      </div>
    </div>
  </div>
</a>
